{
  "extends": ["airbnb-base", "prettier"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true
  },
  "rules": {
    "prefer-promise-reject-errors": "off",
    "no-underscore-dangle": "off",
    "no-param-reassign": ["error", { "props": false }]
  }
}
